{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="status-container" class="col mx-auto my-3 col-lg-6  col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 id="p-user" class="card-title">
                    {{ post.user }}
                </h4>
                <p id="p-content" class="card-content">{{ post.content }}</p>
                <div id="bottom-of-post">
                    <ol id="status-likes-comments-shares">
                        <li id="li-likes">
                            <form action="{% url 'likes' post.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {{ post.like_set.count }} <button class="btn border-0 p-1"><i class="far fa-thumbs-up"></i></button>
                            </form>
                        </li>
                        <li id="li-comments"><small id="status-comments" class="card-content"><button id="comment-button"><a href="{% url 'comments' post.id %}">Comment</a></button></small></li>
                        <li id="li-shares"><small id="status-shares" class="card-content"><button id="share-button">Share</button></small></li>
                    </ol>
                    <small id="p-datetime" class="card-content">Status from {{ post.datetime }}</small>
                </div>
            </div>
        </div>
    </div>

<form action="{% url 'comments' post.id %}" method="POST">
    {% csrf_token %}
    <div class="col mx-auto my-3 col-lg-6 col-sm-6">
        <div id="form">
            {{ comment_form|crispy }}
            <button id="post-button" class="btn btn-primary" class="submit-btn">Post</button>
        </div>
    </div>
</form>

{% comment %} <div class="column">
    {% for p in post %}
    <div id="status-container" class="col mx-auto my-3 col-lg-6  col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 id="p-user" class="card-title">
                    <a href="{% url 'profile' %}" alt="">
                        {{ p.user }}
                    </a>
                </h4>
                <p id="p-content" class="card-content">{{ p.content }}</p>
                <div id="bottom-of-post">
                    <ol id="status-likes-comments-shares">
                        <li id="li-likes">
                            <form action="{% url 'likes' p.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {{ p.like_set.count }} <button class="btn border-0 p-1"><i class="far fa-thumbs-up"></i></button>
                            </form>
                        </li>
                        <li id="li-shares"><small id="status-shares" class="card-content"><button id="share-button">Share</button></small></li>
                    </ol>
                    <small id="p-datetime" class="card-content">Status from {{ p.datetime }}</small>
                </div>
            </div>
        </div>
        <div id="form-container" class="container">
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div class="col mx-auto my-3 col-lg-6 col-sm-6">
                    <div id="form">
                        {{ comment_form|crispy }}
                        <button id="post-button" class="btn btn-primary" class="submit-btn">Post</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column">
            {% for c in comment %}
            <div id="status-container" class="col mx-auto my-3 col-lg-6  col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 id="c-user" class="card-title">
                            <a href="{% url 'profile' %}" alt="">
                                {{ c.user }}
                            </a>
                        </h4>
                        <p id="c-content" class="card-content">{{ c.content }}</p>
                        <small id="p-datetime" class="card-content">Commented on {{ c.datetime }}</small>
                        <div id="bottom-of-comment">
                            <!-- <ol id="status-likes-comments-shares">
                                <li id="li-likes">
                                    <form action="{% url 'likes' p.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        {{ c.like_set.count }} <button class="btn btn-secondary border-0 p-1"> 👍</button>
                                    </form>
                                </li>
                            </ol> -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div> {% endcomment %}
{% endblock content %}