{% extends 'base.html' %}
{% block content %}
<h2 class="text-center">Your Feed</h2>
<div id="post-card" class="column">
    {% for p in post %}
    <div id="status-container" class="col mx-auto my-3 col-lg-6  col-sm-6">
        <div class="card p-bottom 3 m-auto">
            <div class="card-body">
                <h4 id="p-user" class="card-title">
                    {{ p.user }}
                </h4>
                <p id="p-content" class="card-content">{{ p.content }}</p>
                <div id="bottom-of-post">
                    <ol id="status-likes-comments-shares">
                        <li id="li-likes">
                            <form action="{% url 'likes' p.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {{ p.like_set.count }} <button class="btn border-0 p-1"><i class="far fa-thumbs-up"></i></button>
                            </form>
                        </li>
                        <li id="li-comments"><small id="status-comments" class="card-content"><button id="comment-button"><a href="{% url 'comments' p.id %}">Comment</a></button></small></li>
                        <li id="li-shares"><small id="status-shares" class="card-content"><button id="share-button">Share</button></small></li>
                    </ol>
                    <small id="p-datetime" class="card-content">Status from {{ p.datetime }}</small>
                    {% if p.user == user %}
                    <form action="{% url 'delete' p.id %}" method="POST">
                        {% csrf_token %}
                        <button id="delete-btn" class="btn btn-danger mr-0"><small id="p-delete" class="card-content">Delete</small></button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if comment %}
        {% for comment in p.comment_set.all %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{ comment.user }}
                </h4>
                <section>
                    <p>{{ comment.content }}</p>
                </section>
                <div id="bottom-of-comment">
                    {% comment %} <ol id="status-likes-comments-shares">
                        <li id="li-likes">
                            <form action="{% url 'comment-likes' comment.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {{ comment.like_set.count }} <button class="btn border-0 p-1"><i class="far fa-thumbs-up"></i></button>
                            </form>
                        </li>
                    </ol> {% endcomment %}
                    <small id="p-datetime" class="card-content">Commented on {{ comment.datetime }}</small>
                    {% if comment.user == user %}
                    <form action="{% url 'delete-comment' comment.id %}" method="POST">
                        {% csrf_token %}
                        <button id="delete-btn" class="btn btn-danger mr-0"><small id="p-delete" class="card-content">Delete</small></button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}